<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Tienda en línea</title>
  </head>

  <nav>
    <div id="izquierda">
        <img src="ceis.png" alt="Icono" width="40" height="40">
        <span>Centro de estudios de ingeniería de sistemas</span>
    </div>
    <div id="derecha">
      <button onclick="window.location.href='/inicio/'">Inicio</button>
      <button onclick="window.location.href='/tienda/'">Tienda</button>
      <button onclick="window.location.href='/carrito/'">Carrito de Compras</button>
      <button onclick="window.location.href='/ofertas/'">Ofertas</button>
      <button onclick="window.location.href='/somos/'">Quiénes Somos</button>
      <button onclick="window.location.href='/contacto/'">Contacto</button>
      <button onclick="window.location.href='/cuenta/'">Mi Cuenta</button>
    </div>
</nav>


<body>

  <div class="transition-container">
    <div class="container">
      <div class="panel active" style="background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
        <h3>Explore The World</h3>
      </div>
      <div class="panel" style="background-image: url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
        <h3>Wild Forest</h3>
      </div>
      <div class="panel" style="background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80')">
        <h3>Sunny Beach</h3>
      </div>
      <div class="panel" style="background-image: url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80')">
        <h3>City on Winter</h3>
      </div>
      <div class="panel" style="background-image: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
        <h3>Mountains - Clouds</h3>
      </div>
    </div>
  </div>

  <div class="noticias">
    <div class="container1">
        <h1>Últimas Noticias</h1>
        <div class="card">
          <h2>El Archivo Oral de Memoria de las Víctimas  AMOVI-UIS</h2>
          <p>Para el  próximo semestre AMOVI tiene como meta poner a disposición del público los subfondos documentales que salvaguarda, y tienen pensado desarrollar un repositorio virtual que permita subir la información y que esta pueda ser consultada por el público en general. Para ello, se considera la posibilidad de que estudiantes de la Escuela de Ingeniería de Sistemas puedan vincular sus trabajos de grado en AMOVI.
            En caso de que exista algún estudiante que se encuentre interesado, puede acudir a la oficina del archivo, la cual se encuentra ubicada en el Edificio Administrativo 3, tercer piso, ala norte, oficina 1.
          </p>
          <a href="#">Leer más</a>
        </div>
        <div class="card">
          <h2>Título de la noticia 2</h2>
          <p>Descripción breve de la noticia 2</p>
          <a href="#">Leer más</a>
        </div>
        <div class="card">
          <h2>Título de la noticia 3</h2>
          <p>Descripción breve de la noticia 3</p>
          <a href="#">Leer más</a>
        </div>
        <!-- Repite los bloques de código para más noticias -->
    </div>
  </div>



  <script src="script.js"></script>
</body>
</html>
