{% extends "barra.html" %}
{% load crispy_forms_tags %}
{% block contenido %}
{% load static %}

    <div class="form-container">
        {% if user.is_authenticated %}
        Hola {{user.username}}
        <button href="{% url 'cerrar_sesion'%}">Cerrar sesion</button> 
        

        {%  else %}
        <button onclick="window.location.href='/login/'">Login</button>
        <button onclick="window.location.href='/Autenticacion/'">Registrarse</button>

        {%  endif  %}
        
    
    </div>
    {% endblock %}