{% extends "barra.html" %}
{% block contenido %}
{% load static %}
<div class="tittle">
  <h1>Ofertas</h1>
</div>
 
    <div class="product-grid">
      {%for oferta in ofertas%}
<!-- ----------------------------------------------------- -->
      <div class="product-card">
        <img src="{{oferta.imagen.url}}" alt="Speed Max" width="300" height="200">
         <h2>{{oferta.titulo}}</h2>
         <p class="description">{{oferta.contenido}}</p>
        <button class="toggle-btn">Mostrar más...</button> 
        <p>Precio: {{oferta.precio}}</p>
        <p class="stock">en Stock: {{oferta.stock}}</p>
         <button class="buttonProduct" data-nombre="Speed Max" data-precio="1800">Agregar al carrito</button>
      </div>
      
  {% endfor %}
</div>
<script src="{% static 'script.js' %}"></script>
{% endblock %}