{% extends "barra.html" %}
{% block contenido %}
{% load static %}
  <h1>Registro de Usuario</h1>
  <form action="/registro" method="post">
      <div>
          <label for="nombre">Nombre Completo:</label>
          <input type="text" placeholder="Nombre Completo" id="nombre" name="nombre" required>
      </div>
      <div>
          <label for="email">Correo:</label>
          <input type="email" placeholder="Correo" id="email" name="email" required>
      </div>
      <div>
          <label for="telefono">Teléfono:</label>
          <input type="tel" placeholder="Teléfono" id="telefono" name="telefono">
      </div>
      <div>
        <label for="tipo">Tipo de usuario:</label>
        <select id="tipo" name="tipo">
            <option value="" selected disabled>Seleccione una opción</option>
            <option value="estudiante">Estudiante</option>
            <option value="profesor">Profesor</option>
            <option value="otro">Otro</option>
        </select>
      </div>
      <div>
          <label for="fecha-suscripcion">Fecha de suscripción:</label>
          <input type="date" id="fecha-suscripcion" name="fecha_suscripcion">
      </div>

      <button type="submit">Registrarse</button>
  </form>
  {% endblock %}
