
{% extends "barra.html" %}
{% block contenido %}
{% load static %}
<div class="tittle">
  <h1>Productos</h1>
</div>
  
  <div class="product-grid masonry-grid">
<!-- ----------------------------------------------------- -->
    {%for producto in productos%}
      <div class="product-card">
        
        <img src="{{producto.imagen.url}}" alt="Speed Max" width="300" height="200">
         <h2>{{producto.titulo}}</h2>
         <p class="description">{{producto.contenido}}</p>
        <button class="toggle-btn">Mostrar más...</button> 
        <p>Precio: {{producto.precio}}</p>
        <p class="stock">en Stock: {{producto.stock}}</p>
         <button class="buttonProduct" data-nombre="Speed Max" data-precio="1800">Agregar al carrito</button>
         
      </div>
      
    {% endfor %}
</div>

<script src="{% static 'script.js' %}"></script>
{% endblock %}