<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tienda en línea</title>
    <link rel="stylesheet" href="estilos.css"> <!-- Agrega aquí tu archivo de estilos CSS si lo tienes -->
    <link rel="stylesheet" href="style.css" />
</head>
<nav>
    <div id="izquierda">
        <img src="ceis.png" alt="Icono" width="40" height="40">
        <span>Centro de estudios de ingeniería de sistemas</span>
    </div>
    <div id="derecha">
        <button onclick="window.location.href='/templates/index.html'">Inicio</button>
        <button onclick="window.location.href='/templates/tienda.html'">Tienda</button>
        <button onclick="window.location.href='/templates/carritoDeCompras.html'">Carrito de Compras</button>
        <button onclick="window.location.href='/templates/ofertas.html'">Ofertas</button>
        <button onclick="window.location.href='/templates/somos.html'">Quiénes Somos</button>
        <button onclick="window.location.href='/templates/contacto.html'">Contacto</button>
        <button onclick="window.location.href='/templates/login.html'">Mi Cuenta</button>
    </div>
</nav>

<body>
    
    <section id="carrito">
        <h1>Carrito de Compras</h1>

        <div id="carrito-vacio">
            <p>Tu carrito de compras está vacío.</p>
            <a href="/templates/tienda.html">Continuar comprando</a>
        </div>

        <div id="carrito-productos">
            <!-- Aquí se mostrarán los productos agregados al carrito -->
        </div>

        <div id="carrito-total">
            <p>Total: $0.00</p>
            <button id="btn-pagar">Pagar</button>
        </div>
    </section>
  
  
 
</body>



  <script src="script.js"></script>
  </html>
  