
{% include "barra.html"%}
{% block contenido %}
<h1>Contacto</h1>
<div class="content">
    <div class="form-content">

        <form  method="post" onsubmit="event.preventDefault(); submitForm();">
        <!--  -->
            <div class="form-group">
            <label for="correo">Correo electrónico:</label>
            <input type="email" name="correo" placeholder="Correo" id="email" required></div>
        <!--  -->
            <div class="form-group">
            <label for="mensaje">Nombre:</label>
            <input type="text" name="nombre" placeholder="Nombre" id="nombre" name="nombre" required></div>
        <!--  -->
            <div class="form-group">
            <label for="asunto">Asunto:</label>
            <input type="text" name="asunto" placeholder="Asunto" id="asunto" name="asunto" required></div>
        <!--  -->
            <div class="form-group">
            <label for="mensaje">Mensaje:</label>
            </div>
            <textarea id="mensaje" name="mensaje" placeholder="Escribe tu mensaje." name="mensaje" required></textarea>
        <!--  -->
            <button type="submit">Enviar</button>
        </form>
    <p class="terms-conditions">© 2023 Todos los derechos reservados. <a href="#">CEIS</a></p>
    </div>    
</div>
{% endblock %}