{% extends "barra.html" %}
{% block contenido %}
    <div class="tittle">
        <h1>Productos</h1>
    </div>
    {%for producto in productos%}
<div class="product-grid">
      <!-- ----------------------------------------------------- -->
      <div class="product-card">
        <img src="{{producto.imagen}}" alt="Speed Max">
        <h2>{{producto.titulo}}</h2>
        <p class="description">{{producto.contenido}}</p>
        <button class="toggle-btn">Mostrar más...</button>
        <p>Precio: {{producto.precio}}</p>
        <button class="buttonProduct" data-nombre="Speed Max" data-precio="1800">Agregar al carrito</button>
      </div>
     
    {% endfor %}
</div>
{% endblock %}